@model List<CustomUser>
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Friends list</h1>
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item"><a asp-controller="messenger" asp-action="chat" asp-route-recieverid="@item.Id">@item.UserName</a></li>
                }
            </ul>
        </div>
    </div>
</div>